<style>

  i {
    color: white;
    margin-left: 30px;
  }

  h6 {
    color: white;
    margin-right: 30px;
  }

  .babe {
    font-weight: bold;
    color: whitesmoke;
    margin-top: -10px;
  }

  .babe:hover {
    color: #1e88e5;
  }
</style>

<footer class="#424242 grey darken-3">
  <div class="container">
      <div class="container text-align center col l6 s12">
        <img src="images/bitmap2.png" style="height: 48px; width: 220px; margin-top: 40px;margin-bottom: 10px;" />
        <p class="grey-text text-lighten-4">
          Dapatkan "info kost murah" hanya di Babekos App.
        </p>
        <p class="grey-text text-lighten-4" style="margin-top: -10px;">  
          Mau "Sewa Kost Murah"?
        </p>
        <h6 class="babe">
          Download Babekos App Sekarang!
        </h6>
        <div style="display: flex;justify-content: center;align-items: center;margin-top: 30px;margin-bottom: 30px;">
            <i  class="material-icons">call</i><h6>+6289628661621</h6>
            <i  class="material-icons">email</i><h6>saran@Babekos</h6>
        </div>
      </div>
    </div>
  <div class="footer-copyright" style="background-color: #616161;">
    <div class="container" style="padding-bottom: 10px; padding-top: 10px; padding-left: 28%;">
      Copyright © 2019 Babekos
    </div>
  </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/jquery.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.parallax').parallax();
    $('.dropdown-trigger').dropdown({
      alignment: 'left'
    });
    $('.tabs').tabs();
    $('.datepicker').datepicker();
    $('select').formSelect();
    $('.slider').slider();
    $('.chips').chips();
    $('.materialboxed').materialbox();
    $('.sidenav').sidenav();
    $('.modal').modal();
    $('.collapsible').collapsible({});
  });
</script>
</body>

</html>