<style>
  p {
    margin-bottom: 30px;
  }

  .babe {
    font-weight: bold;
  }

  .babe:hover {
    color: whitesmoke;
  }
</style>

<footer class="#424242 grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="images/bitmap2.png" style="height: 48px; width: 220px; margin-top: 50px;" />
        <p class="grey-text text-lighten-4">Dapatkan "info kost murah" hanya di Babekos App.
          Mau "Sewa Kost Murah"?
        </p>
        <h6 class="babe">
          Download Babekos App Sekarang!
        </h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text" style="margin-top: 25%;">kontak</h6>
        <ul>
          <li><img src="/images/whatsapp-logo.png"
              style="width: 30px;height: 30px;margin-top: 15px;margin-right: 15px;"><a
              class="grey-text text-lighten-3">+6289628661621</a></li>
          <li><img src="/images/mail (1).png" style="width: 30px;height: 30px;margin-top: 30px;margin-right: 15px;"><a
              class="grey-text text-lighten-3">saran@Babekos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color: #616161;">
    <div class="container" style="padding-bottom: 10px; padding-top: 10px; padding-left: 28%;">
      Copyright © 2019 Babekos
    </div>
  </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/jquery.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.parallax').parallax();
    $('.dropdown-trigger').dropdown({
      alignment: 'left'
    });
    $('.tabs').tabs();
    $('.datepicker').datepicker();
    $('select').formSelect();
    $('.slider').slider();
    $('.chips').chips();
    $('.materialboxed').materialbox();
    $('.sidenav').sidenav();
    $('.modal').modal();
    $('.collapsible').collapsible({});
  });
</script>
</body>

</html>