<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
</head>

<body>
  <!-- Dropdown Structure -->
  <nav class="nav-wrapper #424242 grey darken-3">
    <div class="container">
      <a href="/" class="brand-logo">
        <img src="images/bitmap2.png" style="height: 30px; width: 135px;" />
      </a>
      <a class="sidenav-trigger" data-target="mobile-links" style="cursor: pointer;">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <% if(locals.kunci) { %>
        <li><a href="/Histori" style="color: white;">Histori</a></li>
        <li><a href="/Chat" style="color: white;">Chat</a></li>
        <li><a class="dropdown-trigger" href="/Profile" data-target="dropdown1"
            style="font-weight: bold;"><%= locals.kunci.name %><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <% } else { %>
        <li><a href="">Cari Iklan</a></li>
        <li><a href="/Promosi">Promosikan Iklan Anda</a></li>
        <li><a href="/signin">Masuk</a></li>
        <% } %>
      </ul>
      <ul class="sidenav" id="mobile-links">
        <% if(locals.kunci) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/Histori">Histori</a></li>
        <li><a href="/Chat">Chat</a></li>
        <li><a class="dropdown-trigger" href="/Profile" data-target="dropdown2"
            style="font-weight: bold;"><%= locals.kunci.name %><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <% } else { %>
        <li><a href="">Cari Iklan</a></li>
        <li><a href="/Promosi">Promosikan Iklan Anda</a></li>
        <li><a href="/signin">Masuk</a></li>
        <% } %>
      </ul>
      <!-- ini untuk dropdown user -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/Profile" style="color: black;"><i class="material-icons">account_circle</i>profil</a></li>
        <li><a href="/logout" style="color: black;"><i class="material-icons">keyboard_tab</i>Keluar</a></li>
      </ul>
      <!-- ini untuk dropdown user -->
      <!-- ini untuk dropdown user -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="/Profile" style="color: black;"><i class="material-icons">account_circle</i>profil</a></li>
        <li><a href="/logout" style="color: black;"><i class="material-icons">keyboard_tab</i>Keluar</a></li>
      </ul>
      <!-- ini untuk dropdown user -->
    </div>
  </nav>