<%- include('../partials/header.ejs') %>

<style>
img {
    margin-top: 15%;
    margin-bottom: 10%;
    width: 210px;
    height: 210px;
}
</style>

<div class="col s12" style="display: flex; justify-content: center;align-items:center;">
    <img class="center-align responsive-img circle" style="margin-right: 60px;" src="https://mamikos.com/general/img/pictures/default-user-image.png" />
</div>
<div class="container">
    <p>
        <label>Username:</label>
        <input type="text" name="username" placeholder="username..." />
    </p>
</div>
<%- include('../partials/footer.ejs') %>