<%- include('../partials/header.ejs') %>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h4 class="header center white-text" style="font-weight: bold;margin-bottom: 8%;margin-top: 8%;">Mau Cari Kos Kosan ?</h4>
        <div class="row center">
          <h6 class="header col s12 white-text" style="font-weight: bold;">Dapatkan info kost murah, kost harian, kost bebas, dan info kosan lainnya di Babekos!</h6>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light grey darken-3 pulse">Mulai Cari</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
  <div class="section">
    <h5 style="margin-top: 8%;margin-bottom: 5%;">Promo</h5>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="https://images.unsplash.com/photo-1494203484021-3c454daf695d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"> <!-- random image -->
          <div class="caption center-align">
            <h3>Kost Baru Bangun/Baru Buka ?</h3>
            <h5 class="light grey-text text-lighten-3">Mau Di Bantu Memenuhi Kamar Kosan Dengan Jaminan Pendapatan ?</h5>
          </div>
        </li>
        <li>
          <img src="https://images.unsplash.com/photo-1521783988139-89397d761dce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80"> <!-- random image -->
          <div class="caption left-align">
            <h3>Ada Event Kampus Dan Tryout Partnership ?</h3>
            <h5 class="light grey-text text-lighten-3">Yuk Kerjasama Sama Babekos.</h5>
          </div>
        </li>
        <li>
          <img src="https://images.unsplash.com/photo-1560635921-171138a3955e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"> <!-- random image -->
          <div class="caption right-align">
            <h3>Booking Kost Favoritmu !</h3>
            <h5 class="light grey-text text-lighten-3">Sekarang Bisa Pesan Kost Dari Jauh-Jauh Hari Lewat Booking.</h5>
          </div>
        </li>
        <li>
          <img src="https://images.unsplash.com/photo-1432303492674-642e9d0944b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80"> <!-- random image -->
          <div class="caption bottom-align">
            <h3>Punya Barang Bekas Numpuk Di Kosan ?</h3>
            <h5 class="light grey-text text-lighten-3">Ubah Jadi Duit aja !</h5>
          </div>
        </li>
      </ul>
    </div>
      <div class="row">
          <div class="col s6">
              <div class="input-field col s12" style="margin-top: 20%;">
                <h6 style="font-weight: bold;">Rekomendasi Kamar Kos untuk anda di</h6>
                  <select>
                    <option value="1">Lokasi Anda</option>
                    <option value="2">Jakarta</option>
                    <option value="3">Bandung</option>
                    <option value="4">Yogyakarta</option>
                    <option value="5">Surabaya</option>
                    <option value="6">Makassar</option>
                    <option value="7">Bandar Lampung</option>
                    <option value="8">Medan</option>
                    <option value="9">Padang</option>
                    <option value="10">Bali</option>
                    <option value="11">Kalimantan</option>
                  </select>
              </div>
        </div>
      <!-- xxx -->
    </div>
  </div>
  </div>
<%- include('../partials/footer.ejs') %>