<%- include('../partials/header.ejs') %>
<style>
    .tombol {
        margin-left: 0%;
        margin-top: 10%;
        border: 2px solid yellow;
        color: red;
    }

    .button {
        margin-top: 10%;
        color: whitesmoke;
    }

    .tombol:hover {
        border: 2px solid red;
    }

    .kartu {
        background-color: orange;
    }
</style>

<div class="container col s12" style="text-align: center;margin-top: 15%;">
    <h3>Tak sampai satu bulan, langsung penuh!</h3>
    <br>
    <h5><b>Iklan Kost Sekarang</b> dan dapatkan<b>Fitur-Fitur Terbaik.</b></h5>
    <br>
    <h6>Buat iklan kost mu lebih menarik bagi calon penyewa.</h6>
    <div>
        <a class="button waves-effect waves-light btn red hoverable" href="/editprofile">Pasang Iklan Kost Sekarang</a>
        <a class="tombol waves-effect waves-light btn transparent" href="/editprofile">Pelajari Lebih Lanjut</a>
    </div>
</div>
<div class="container col s12" style="text-align: center;margin-top: 15%;">
    <h3>Kenapa promosi kost di Babekos?</h3>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1423.svg">
            <h5>1.400.000+</h5>
            <p>Pengguna aktif Mamikos yang terdaftar</p>
        </div>
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1424.svg">
            <h5>70.000+</h5>
            <p>Kos aktif yang terdaftar dan terverifikasi</p>
        </div>
    </div>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1425.svg">
            <h5>75.000+</h5>
            <p>Pengguna mengunjungi Mamikos setiap hari</p>
        </div>
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1426.svg">
            <h5>20.000+</h5>
            <p>Pengguna menghubungi kost lewat Mamikos setiap hari</p>
        </div>
    </div>
</div>
<div class="container col s12 #f5f5f5" style="margin-top: 20%;background-color: #f5f5f5;padding: 20px 20px;">
    <div style="font-family: serif;font-weight: 600;">
        <h4>Pertanyaan seputar <br> Premium Membership</h4>
    </div>
    <div style="margin-top: 10%;">
        <p>Atau hubungi kami kapan saja:</p>
        <h5>Whatsapp-089628661621</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>