<%- include('../partials/header.ejs') %>
<style>
    .tombol {
        margin-left: 0%;
        margin-top: 10%;
        border: 2px solid yellow;
        color: red;
    }

    .button {
        margin-top: 10%;
        color: whitesmoke;
    }

    .tombol:hover {
        border: 2px solid red;
    }

    .kartu {
        background-color: orange;
    }

    h4 {
        font-family: serif;
    }
</style>

<div class="container col s12" style="text-align: center;margin-top: 15%;">
    <h3>Tak sampai satu bulan, langsung penuh!</h3>
    <br>
    <h5><b>Iklan Kost Sekarang</b> dan dapatkan<b>Fitur-Fitur Terbaik.</b></h5>
    <br>
    <h6>Buat iklan kost mu lebih menarik bagi calon penyewa.</h6>
    <div>
        <a class="button waves-effect waves-light btn red hoverable" href="/editprofile">Pasang Iklan Kost Sekarang</a>
        <a class="tombol waves-effect waves-light btn transparent" href="/editprofile">Pelajari Lebih Lanjut</a>
    </div>
</div>
<div class="container col s12" style="text-align: center;margin-top: 15%;">
    <h3>Kenapa promosi kost di Babekos?</h3>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1423.svg">
            <h5>1.400.000+</h5>
            <p>Pengguna aktif Mamikos yang terdaftar</p>
        </div>
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1424.svg">
            <h5>70.000+</h5>
            <p>Kos aktif yang terdaftar dan terverifikasi</p>
        </div>
    </div>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1425.svg">
            <h5>75.000+</h5>
            <p>Pengguna mengunjungi Mamikos setiap hari</p>
        </div>
        <div class="container col s4">
            <img src="https://mamikos.com/general/img/pictures/promotion/Group_1426.svg">
            <h5>20.000+</h5>
            <p>Pengguna menghubungi kost lewat Mamikos setiap hari</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20%;padding: 20px 20px;">
   <div class="text-align center col s12" >
        <h4>Jenis - Jenis Bisnis Kos Kosan</h4>
        <p style="color: gray;">Bisnis Kos Kosan adalah bisnis yang tidak ada matinya. 
            Bisnis property dalam bidang kost ini selain membuat pemilik bisnis nya memiliki lahan yang harganya terus berkembang setiap tahun, 
            juga menambahkan pemasukan dari biaya sewa kost tersebut. Namun keuntungan dari biaya sewa kost ini, 
            baru akan tercapai apabila kost itu selalu penuh atau paling tidak selalu terisi setiap bulannya. 
            Itulah kenapa kamu perlu mempromosikan Rumah kost kamu di situs pencarian kost dan social media.
            Kabar baiknya, sekarang kamu sudah dapat mengiklankan rumah kost kamu dengan GRATIS! Yaa GRATIS, 
            Babekos tidak memungut biaya apapun untuk user ataupun pemilik Rumah kost yang ingin mempromosikan kostnya. 
            Mau tau cari Promosi Kost di Mamikos? Simak saja Cara Promosi Kost gratis di Babekos. 
            Atau kamu dapat langsung download aplikasi kost Babekos dan pilih tambah kost dari halaman utamanya.
        </p>
   </div>
    <div class="text-align center col s6" >
        <h4>Bisnis Kost Eksklusif</h4>
        <p style="color: gray;">Bisnis kos kosan mewah atau bisnis kost eksklusif merupakan bisnis yang banyak digemari belakangan ini. 
            Bisnis Rumah kos kostan eksklusif ini dinilai lebih efektif, karena dengan ruangan yang sama lebarnya, 
            dapat disewakan dengan harga kos lebih mahal. Sebuah Rumah Kost dapat dikatakan kost mewah/ eksklusif apabila kost memenuhi beberapa kriteria, 
            ruangan kost cukup luas, desain kos kosan menarik, sudah terisi kasur dan beberapa peralatan lain,
            beberapa ditambah AC, Wifi, dan Kamar Mandi dalam.
        </p>
        <p style="color: gray;">
            Dalam bisnis kost eksklusif memastikan setiap kamar kost selalu penuh atau terisi akan jadi hal mudah apabila lokasi rumah kost kamu sudah ada di pinggir jalan dan dekat kampus. 
            Program promosi cukup sekedar memasang spanduk Terima Kost di gerbang rumah kost ditambah brosur di kampus-kampus. 
            Namun lain halnya jika kostmu tidak berada di posisi strategis, kamu juga dapat mempromosikan kost kamu di twitter, group facebook, atau situs-situs terkenal 
            untuk pencarian kost seperti Babekos. Rumah kost yang dipromosikan di Babekos akan dibantu diiklankan, 
            dilisting dan juga dipromosikan melalui sosial media kami dan aplikasi serta website kami. 
            Dengan promosi rumah kost di mamikos, kau tidak perlu lagi mengeluarkan lebih banyak budget untuk promosi online. 
            Kamu juga bisa request ke admin sosmed kami untuk menampilkan post mengenai rumah kost kamu. 
            Cukup chat admin kami di Instagram, 
            Facebook atau twitter dengan memberikan link Babekos untuk rumah kost kamu.
        </p>
    </div>
    <div class="text-align center col s6" >
        <h4>Bisnis Kost Modal Ringan</h4>
        <p style="color: gray;">Bisnis Kost Modal Ringan atau Bisnis kos kosan tanpa modal merupakan model bisnis yang tidak dapat dijalani semua orang. 
            Namun untuk cara berpromosi gratis, kami sudah punya solusinya. Salah satu solusinya adalah promosikan rumah kost kamu di Babekos, 
            Aplikasi pencari kost yang kini tengah berkembang di Indonesia. Selain Gratis, rumah kost kamu akan jadi lebih dikenal dan jauh lebih mudah dipromosikan di media lain. 
            Tim Babekos akan membuatkan halaman khusus untuk rumah kost yang kamu miliki baik di website ataupun di aplikasi kami. 
            Halaman ini telah berisi data lengkap mengenai foto dan detail informasi rumah kost kamu, 
            dan tentunya kamu bisa membagikan halaman ini di berbagai media yang kamu tahu.
            Saat ini, Babekos digunakan oleh lebih dari 15.000 pengguna di seluruh Indonesia setiap harinya. 
            Babekos membuka peluang bagi pemilik bisnis kost untuk mempromosikan langsung bisnis kost yang dimilikinya. 
            Tunggu apalagi? promosikan rumah kost kamu di BABEKOS, sekarang!
        </p>
    </div>
</div>
<%- include('../partials/footer.ejs') %>