<%- include('../partials/header.ejs') %>


  <% if(err){ %>
    <h4>
      <%= err %>
    </h4>
    <% } %>

      <div class="all col s12">
        <form action="/proses-signin" class="body" method="POST">
          <div class="container">
            <div>
              <h1>Masuk</h1>
            </div>
            <div>
              <label for="email"><b>Username</b></label>
              <input type="text" name='username' placeholder="Enter Username" />
            </div>
            <div>
              <label for="psw"><b>Password</b></label>
              <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <div class="button">
              <button type="submit" class="registerbtn">Masuk</button>
            </div>
            <div class="container signin">
              <p>belum memiliki akun ?<a href="/Register" class="Aa">Daftar</a></p>
            </div>
          </div>
        </form>
      </div>